body {
  font-family: sans-serif;
}

h4 {
  margin: 0;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 5px 0;
}

.accordion-title:hover {
  background-color: lightgray;
  cursor: pointer;
}

.accordion-icon {
  border: solid currentcolor;
  border-width: 0 2px 2px 0;
  display: inline-block;
  height: 8px;
  pointer-events: none;
  transform: translateY(-2px) rotate(45deg);
  width: 8px;
}

.accordion-icon--rotated {
  transform: translateY(2px) rotate(-135deg);
}
