body {
  font-family: sans-serif;
}

.like-button {
  border-radius: 32px;
  border-width: 2px;
  border-style: solid;
  padding: 4px 8px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 32px;
}

.like-button--default {
  background-color: white;
  border-color: #888;
  color: #888;
  outline: none;
}

.like-button--hovered {
  background-color: white;
  border-color: #f00;
  color: #f00; 
}

.like-button--liked {
  background-color: #f00;
  border-color: #f00;
  color: white; 
}

.like-button__icon--liked {
  color: #ff0;
}

.like-button__icon--default {
  color: #888;
}

.error {
  margin-top: 20px;
}
