* {
    box-sizing: border-box;
    margin: 0;
}

body {
  font-family: sans-serif;
}

button {
  cursor: pointer;
  border: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image-carousel {
  max-width: 600px;
  height: 100vh;
  max-height: 400px;
  position: relative;
  background-color: black;
}

.image-carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  color: white;
  background-color: #0008;
}

.image-carousel__button:hover {
  background-color: #000;
}

.image-carousel__button--prev {
  left: 16px;
}

.image-carousel__button--next {
  right: 16px;
}

.image-carousel__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image-carousel__pages {
  display: inline-flex;
  gap: 8px;
  padding: 8px;
  background-color: #0008;
  width: fit-content;
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 12px;
}

.image-carousel__pages__button {
  border-radius: 100%;
  border: none;
  width: 8px;
  height: 8px;
  background-color: #666;
  display: inline-block;
  flex-shrink: 0;
  padding: 0;
  transition: background-color 0.3s ease-in-out;
}

.image-carousel__pages__button--active {
  background-color: white;
}